{{define "Admin"}}
{{template "header" .}}

<div class="navbar navbar-inverse navrbar-fixed-top" >
	<div class="container-fluid">
		<div class = "navbar-header">
			<a href="#" class="navbar-brand">137132696</a>
		</div>
		<ul class="nav navbar-nav">
			<li><form action="/manageproduct" method="post"><button type="submit" class="btn btn-link navbar-btn navbar-link"><span class="glyphicon glyphicon-th-list"></span> Manage Products</button></form></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
		<li><button type="submit" class="btn btn-link navbar-btn navbar-link"><span class="glyphicon glyphicon-user"></span> Hi Admin!</button></li>							
		<li><form action="/logout" method="post"><button type="submit" class="btn btn-link navbar-btn navbar-link"><span class="glyphicon glyphicon-log-out"></span> Log off</button></form></li>				
		</ul>	
	</div>
</div>		

<div class="container">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="panel panel-info">
			<div class="panel-heading">Order Data</div>
				<div class="panel-body">
					<table style="width:100%">
						<tr style="border-bottom: 1px solid #ddd;">
							<th>OrderID</th>
							<th>Order Amount</th>
							<th>Timestamp</th>
						</tr>		
						{{ range . }}
						<tr style="border-bottom: 1px solid #ddd;">
							<!-- <td><a href="#">{{.ouid}}</a></td> -->
							<td><form action="/vieworder" method="post"><button class="btn btn-link" name="orderid" value="{{.ouid}}" style="padding-top:20px;">{{.ouid}}</button></form></td>
							<td >&#8377; {{printf "%.2f" .chargedamount}}</td>
							<td>{{.timestamp}}</td>
						</tr>
						{{end}}	
					</table>
				</div>
				<div class="panel-footer"></div>
		</div>		
		</div>
	<div class="col-md-1"></div>
</div>


{{template "footer" .}}
{{end}}
