{{define "Placeorder"}}
{{template "header" .}}

<!-- <textarea id="Output"></textarea> -->
<div class="navbar navbar-light navrbar-fixed-top" style="background-color: #e3f2fd;">
	<div class="container-fluid">
		<div class = "navbar-header">
			<a href="#" class="navbar-brand">137132696</a>
		</div>	
		<ul class="nav navbar-nav"></ul>
		<ul class="nav navbar-nav navbar-right">
		<li><form><button type="submit" class="btn btn-link navbar-btn navbar-link" onclick="goBack()"><span class="glyphicon glyphicon-hand-left"></span> Back</button></form></li>				
		<li><form action="/logout" method="post"><button type="submit" class="btn btn-link navbar-btn navbar-link"><span class="glyphicon glyphicon-log-out"></span> Log off</button></form></li>	
		</ul>
		</div>
	</div>
</div>		
<div class="container">
		<div class="panel panel-info">
			<div class="panel-heading"></div>
				<div class="row">
					<div class="col-md-3"><b>Product Image</b></div>
					<div class="col-md-3"><b>Product Name</b></div>
					<div class="col-md-2"><b>Quantity</b></div>
					<div class="col-md-2"><b>Price</b></div>
					<div class="col-md-2"><b>Item Total</b></div>
				</div>
					<div class="panel-body">
							<div id="show-cart">
							<!-- -->
							</div>
							<p><br/></p>
							<div style="float:right;">
							<form action="/payment" method="POST">
							<input id="Output" type="hidden" name="Output">	
							<input id="tot-count" type="hidden" name="totalcount">	
							<input id="tot-price" type="hidden" name="totalprice">	
								<script
									src="https://checkout.stripe.com/checkout.js" class="stripe-button" style="float:right;"
									data-key={{.}}
									data-currency ="INR"
									data-amount= ""
									data-name="Payment Gateway"
									data-description="Online Mobile Store"
									data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
									data-locale="auto"
									data-shipping-address="true">
								</script>
							</form>
							</div>
					</div>		
					<div class="panel-footer"></div>
		</div>
</div>

<script>
$('#Output').val(localStorage.getItem('shoppingCart'));

function displayTable() {
	var tableArray = JSON.parse(localStorage.getItem("shoppingCart"));
	var tot_count = 0;
	var tot_price = 0;
	for (var j in tableArray) {
		tableArray[j].total = (tableArray[j].count * tableArray[j].price).toFixed(2);
		tot_count += tableArray[j].count;
		tot_price += (Number(tableArray[j].total));
	}		
	var output = "";
	for (var i in tableArray) {
		output += "<div class='row' style='border-bottom: 1px solid #4588ba; margin-bottom:10px;'>"
						+"<div class='col-md-3'>"+"<img src='/files/"+tableArray[i].image+"' alt='HTML5 Icon' style='width:100px;height:100px;'>"+"</div>"
						+"<div class='col-md-3'>"+tableArray[i].name+"</div>"
						+"<div class='col-md-2'>"+tableArray[i].count+"</div>"
						+"<div class='col-md-2'>"+" &#8377; "+tableArray[i].price+"</div>"
						+"<div class='col-md-2'>"+" &#8377; "+tableArray[i].total+"</div>"
					+"</div>";	
	}	
	output += "<div class='row' style='border-bottom: 1px solid #4588ba; margin-bottom:10px;'>"
						+"<div class='col-md-3'>"+""+"</div>"
						+"<div class='col-md-3'>"+""+"</div>"
						+"<div class='col-md-2'>"+"<b>"+tot_count+"</b></div>"
						+"<div class='col-md-2'>"+""+"</div>"
						+"<div class='col-md-2'>"+"<b>"+" &#8377; "+tot_price.toFixed(2)+"</b></div>"
				+"</div>";		
	
	$("#show-cart").html(output);
	$("#tot-count").val(tot_count);
	$("#tot-price").val(tot_price * 100);

}

displayTable();

function goBack() {
    window.history.back();
}

</script>

{{template "footer" .}}
{{end}}
